.myBtn {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  transition: translate 2s;
}

.modal{
  z-index: 1 !important;
}
